<section class="o-section">
    <div class="o-container">
        <h2 class="c-title">{{section.title}}</h2>

        <div class="c-content">
            {{section.text}}
        </div>
    </div>
</section>