{% extends 'base.twig' %}

{% block content %}
    <section class="o-section">
        <div class="o-container">
            <div class="o-grid">
                {% for post in posts %}
                    <div class="o-grid__item md-6 xl-4">
                        {% include 'article-card.twig' %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
