{% extends 'base.twig' %}

{% set all_posts = site.get_posts() %}


{% block header_class %}c-page__header--home{% endblock %}
{% block header_in %}
	<h1>Welcome to {{site.name}}</h1>
{% endblock %}

{% block content %}
	<section class="c-page__section">
		<div class="o-container">
			{{post.content}}
		</div>
	</section>
	<section class="c-page__section">
		<div class="o-container">
			<div class="o-grid">
				{% for post in all_posts %}
					<div class="o-grid__item md-6 xl-4">
						{% include 'article-card.twig' %}
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}

