{% extends 'page.twig' %}

{% block content %}
	{{ parent() }}
	<section class="c-page__section c-page__custom">
		<div class="o-container">
			<p>I'm a custom content from custom page!</p>
		</div>
	</section>
{% endblock %}