{% extends 'base.twig' %}

{% block content %}
	<section class="o-section p-article">
        <div class="o-container">
            <h1 class="p-article__title">{{post.title}}</h1>
            <div class="p-article__content">
                {{post.content}}
            </div>
        </div>
    </section>
{% endblock %}