h1,
h2,
h3,
h4,
h5,
h6 {
    @if(font('heading') != font('default')) {
        font-family: font-family('heading');
    }
    
    margin: 0 0 1em;
    color: color('heading');
    line-height: 1.4;
}

p {
    margin: 0 0 1em;
    line-height: 1.5;
}

